{% extends 'base.html.twig' %}

{% block title %}New Agenda{% endblock %}

{% block body %}
    <h1>Create new Agenda</h1>

    {{ include('/Back/agenda/_form.html.twig') }}

    <a href="{{ path('admin_app_agenda_index') }}">back to list</a>
{% endblock %}
