{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('/Front/appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_appointment_index') }}">back to list</a>

    {{ include('/Front/appointment/_delete_form.html.twig') }}
{% endblock %}
