{% extends 'base.html.twig' %}

{% block title %}Hello AppointmentController!{% endblock %}

{% block body %}
    <h1>Mes rendez-vous</h1>

    {{ dump(appointments) }}

    <!-- Appointments cards made with Tailwind CSS -->
{% endblock %}
