{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello Hamidou! ✅</h1>

    {{ dump(users) }}
    {{ dump(usersByFirstName) }}
    {{ dump(usersByLastName) }}
    {{ dump(clinics) }}

</div>
{% endblock %}
