<form method="post" action="{{ path('admin_app_document_storage_delete', {'id': document_storage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document_storage.id) }}">
    <button class="btn">Delete</button>
</form>
