{% extends 'base.html.twig' %}

{% block title %}New DocumentStorage{% endblock %}

{% block body %}
    <h1>Create new DocumentStorage</h1>

    {{ include('/Back/document_storage/_form.html.twig') }}

    {# si admin on affiche #}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_app_document_storage_index') }}">back to list</a>

    {% endif %}
{% endblock %}
