{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
    <div id="wrap">
        <div id="main" class="container-fluid text-center pt-5 mt-5">
            <h1 class="title pt-5 mt-5 py-5">L'achat a malheureusement échoué ! </h1>
        </div>
    </div>
{% endblock %}

