{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    <div id="wrap">
        <div id="main" class="container-fluid text-center pt-5 mt-5">
            <h1 class="title pt-5 mt-5 py-5">Merci pour votre achat </h1>
        </div>
    </div>

{% endblock %}
